{% extends "base.html" %}
{% block title %}Lista de Envio{% endblock %}

{% block content %}
<h2 class="cart-title mb-3">Lista de Envio</h2>

{% if not items %}
  <div class="text-center text-white fw-bold mt-4">
    Nenhum item na lista ainda.
  </div>

  <div class="d-flex justify-content-center mt-3">
    <a href="{% url 'requisition_list' %}" class="btn btn-white-outline fw-bold">
      Adicionar itens
    </a>
  </div>
{% else %}

<table class="table table-bordered table-striped bg-white">
  <thead class="table-danger">
    <tr class="text-center fw-bold">
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for item in items %}
    <tr>
      <td class="fw-bold">{{ item.product.name }}</td>

      <td class="text-center">
        {{ item.quantity }}
      </td>

      <td class="text-center">
        <form action="{% url 'cart_remove' item.product.id %}" method="post">
          {% csrf_token %}
          <button class="btn btn-sm btn-white-outline fw-bold">Excluir</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
  <form action="{% url 'cart_submit' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-white fw-bold">Enviar Pedido</button>
  </form>
</div>

{% endif %}
{% endblock %}
