{% extends "base.html" %}
{% block title %}{{ requisition.name }}{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">{{ requisition.name }}</h2>

<table class="table table-bordered bg-white">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>
        <form method="post" action="{% url 'cart_add' product.id %}">
          {% csrf_token %}
          <input type="number" name="quantity" min="0" value="0">
          <button class="btn btn-sm btn-danger">Adicionar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
